# Flower Detection

This project uses a convolutional neural network (CNN) to classify images of flowers into five categories: daisy, dandelion, rose, sunflower, and tulip.

## Requirements

- Python 3.x
- TensorFlow
- Keras
- Numpy
- Pillow
- Matplotlib
- Tkinter

## Installation

first install vs code and python ide
Frist to need install some python module which is used in this project
#for module install
First open command prompt then type 
pip install tensorflow
pip install matplotlib
pip install numpy
pip install keras
pip install tk
